




.terms{
  box-flex-group: black;

}

.footer-social--icons {
  display: flex;
  gap: 2rem;
  align-items: center;
 justify-items: center;
 justify-content: center;
  }




  
.contact-short {
  max-width: 60vw;
  margin: auto;
  padding: 5rem 10rem;
  background-color: rgba(rgb(0, 255, 47), rgba(34, 152, 34, 0.395), rgba(0, 0, 255, 0.351), alpha)
  
  
}
{/*.contact-short-btn {
  justify-self: end;
  align-self: center;
}
footer {
  padding: 14rem 0 9rem 0;
  background-color: ${({ theme }) => theme.colors.footer_bg};
  h3 {
    color: `${({ theme }) => theme.colors.hr};
    margin-bottom: 2.4rem;
  }
  p {
    color: ${({ theme }) => theme.colors.white};
  }
  
  .footer-bottom--section {
    padding-top: 9rem;
    hr {
      margin-bottom: 2rem;
      color: ${({ theme }) => theme.colors.hr};
      height: 0.1px;
    }
  }
}
@media (max-width: ${({ theme }) => theme.media.mobile}) {
  .contact-short {
    max-width: 95vw;
    padding: 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-short-btn {
      text-align: center;
      justify-self: flex-start;
    }
  }
  footer .footer-bottom--section {
    padding-top: 3.2rem;
  }
}*/}