#p-footer {
  text-align: justify;
}

#div-contact {
  text-align: center;
  padding-bottom: 20px;
}

.footer-social--icons {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-items: center;
  justify-content: center;
}
